body {
    background-color: lightcoral;
    background: url(https://wallpapers.com/images/featured/aesthetic-nba-ba4w0pe75y02ux5q.jpg);
    background-size: cover;
}

#boxHeight {
    min-height: 45dvh;
    align-self: center;
}