body {
    background-color: lightcoral;
    background: url(https://wallpapers.com/images/featured/aesthetic-nba-ba4w0pe75y02ux5q.jpg);
    background-size: cover;
}

#boxHeight {
    min-height: 45dvh;
    align-self: center;
}

footer {
    color: lightgrey
}

#total-away-score {
    font-size: 8em;
}

#total-home-score {
    font-size: 8em;
}

@media screen AND (max-width: 576px) {
    #MobileView {
        justify-content: space-between;
    }

    #total-home-score {
        font-size: 5em;
    }

    #total-away-score {
        font-size: 5em;
    }

    #boxHeight {
        min-height: 30dvh;
        align-self: center;
    }


}